<div class="col-lg-12">
    {% form_theme form _self %}
    <form method="POST" {{ form_enctype(form) }} class="form-horizontal">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    {% block recipe_form_comment %}
                        <h4>{{ 'recipebook.add.comment'|trans }}</h4>
                    {% endblock %}
                </div>
                <div class="portlet-widgets">
                    <input class="btn btn-xs btn-blue" type="submit" id="_submit" name="_submit"
                           value="{{ 'recipebook.add.submit'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-collapse in" style="height: auto;">
                <div class="portlet-body">

                    {#<h3>Recipe</h3>#}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                            {% if  recipe.image.path is defined %}
                                <img class="img-rounded img-responsive" src="{{ asset(recipe.image.getWebPath()) }}" width="100%">
                            {% else %}
                                {{ form_widget(form.image) }}
                            {% endif %}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <label class="col-sm-3" for="recipe_name">Recipe name</label>

                                <div class="col-sm-9">
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" for="recipe_portions">Portions</label>

                                <div class="col-sm-9">
                                    {{ form_widget(form.portions) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" for="recipe_price">Selling Price</label>

                                <div class="col-sm-9">
                                    {{ form_widget(form.price) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>{{ 'ingredient.ingredients'|trans }}</h3>

                    <div class="row">
                        <div class="col-lg-12">
                            {% include 'RocketChefRecipeBookBundle:RecipeIngredient:form.html.twig' %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="portlet-footer">
                <div class="portlet-widgets">
                    <input class="btn btn-xs btn-blue" type="submit" id="_submit" name="_submit"
                           value="{{ 'recipebook.add.submit'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>

</div>
