{% extends 'RocketChefRecipeBookBundle::layout.html.twig' %}

{% block page_content_header %}
    {{ 'recipebook.title'|trans }}
    <small>{{ 'recipebook.recipe'|trans }}</small>
{% endblock %}

{% block page_content_breadcrumb %}
    <li><a href="{{ path('rocketchef_dashboard') }}"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a>
    </li>
    <li><a href="{{ path('rocketchef_recipe_book') }}"><i class="fa fa-book "></i> {{ 'recipebook.title'|trans }}</a>
    </li>
    <li class="active"><i class="fa fa-cutlery"></i> {{ recipe.name|capitalize }}</li>
{% endblock %}

{% block page_content %}
    <div class="row-fluid">
        <div class="col-lg-10">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>{{ recipe.name|capitalize }}</h4>
                    </div>
                    <div class="portlet-widgets">
                        <button type="button" class="btn btn-xs btn-white dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {#<li>#}
                            {#<a href="{{ path('rocketchef_recipe_book_print', {'recipeId': recipe.id}) }}">#}
                            {#<i class="fa fa-print"></i> Print Recipe</a>#}
                            {#</li>#}
                            <li>
                                {% if recipe.inMenu %}
                                    <a href="{{ path('rocketchef_menu_remove_recipe', {'recipeId': recipe.id}) }}">
                                        <i class="fa fa-times"></i> Remove from menu</a>
                                {% else %}
                                    <a href="{{ path('rocketchef_menu_add_recipe', {'recipeId': recipe.id}) }}">
                                        <i class="fa fa-plus"></i> Add to menu</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{{ path('rocketchef_recipe_book_edit', {'recipeId': recipe.id, 'recipeName': recipe.name}) }}">
                                    <i class="fa fa-pencil"></i> Edit Recipe</a>
                            </li>
                            <li>
                                <a href="{{ path('rocketchef_recipe_book_delete', {'recipeId': recipe.id, 'urlRedirect': 'rocketchef_recipe_book'}) }}"
                                   onclick="return confirm('Delete recipe ?')">
                                    <i class="fa fa-times"></i> Delete Recipe</a>
                            </li>
                        </ul>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-collapse in" style="height: auto;">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {% if  recipe.image is not null %}
                                    <img class="img-rounded img-responsive" src="{{ asset(recipe.image.getWebPath()) }}"
                                         width="80%">
                                {% endif %}
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <table class="table table-bordered table-recipe-infos">
                                    <tr>
                                        <td>
                                            <strong>Co没t HT pour {{ recipe.portions }} portion(s)</strong><br>
                                            {{ recipe.cost|round(2, 'common') }}{{ 'global.currency'|trans }}
                                        </td>
                                        <td>
                                            <strong>Prix minimun TTC</strong><br>
                                            {{ minimalPrice+(minimalPrice/100*19.6)|round(2, 'common') }}{{ 'global.currency'|trans }}

                                        </td>
                                        <td>
                                            <strong>Prix de vente TTC</strong><br>
                                            {{ recipe.price }}{{ 'global.currency'|trans }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Co没t HT par portion</strong><br>
                                            {{ portionCost|round(2, 'common') }}{{ 'global.currency'|trans }}
                                        </td>
                                        <td>
                                            <strong>Prix minimun HT</strong><br>
                                            {{ minimalPrice }}{{ 'global.currency'|trans }}

                                        </td>
                                        <td>
                                            <strong>Ratio</strong><br>
                                            {{ ratio|round(1, 'common') }}
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="tile {{ marginColor }} text-center">
                <h4 class="text-center"><i class="fa fa-circle-o-notch fa-fw"></i> {{ 'term.rate.margin'|trans }}</h4>

                <div class="easy-pie-chart" data-percent="{{ margin }}">
                    <span class="percent"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Ingredients</h4>
                </div>
                <div class="portlet-widgets">
                    {#<a href="{{ path('rocketchef_recipe_book_edit', {'recipeId': recipe.id, 'recipeName': recipe.name}) }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit Recipe</a>#}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-collapse in" style="height: auto;">
                <div class="portlet-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="25%">{{ 'ingredient.name'|trans }}</th>
                            <th width="9%">{{ 'ingredient.quantity'|trans }}</th>
                            <th width="9%">{{ 'ingredient.price'|trans }}</th>
                            <th width="9%" class="hidden-xs">Co没t</th>
                            <th width="9%" class="hidden-xs">Co没t par portion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recipeIngredient in recipeIngredients %}
                            <tr>
                                <td>{{ recipeIngredient.ingredient.name }}</td>
                                <td>{{ recipeIngredient.qte }}
                                    {% if recipeIngredient.unit == constant('RocketChef\\DataBundle\\Entity\\RecipeIngredient::UNIT_GR') %}
                                        Gr
                                    {% elseif recipeIngredient.unit == constant('RocketChef\\DataBundle\\Entity\\RecipeIngredient::UNIT_KG') %}
                                        Kg
                                    {% elseif recipeIngredient.unit == constant('RocketChef\\DataBundle\\Entity\\RecipeIngredient::UNIT_LITER') %}
                                        L
                                    {% elseif recipeIngredient.unit == constant('RocketChef\\DataBundle\\Entity\\RecipeIngredient::UNIT_CLITER') %}
                                        Cl
                                    {% else %}

                                    {% endif %}</td>
                                <td>{{ recipeIngredient.ingredient.priceForUnit }}
                                    {% if recipeIngredient.ingredient.unit == constant('RocketChef\\DataBundle\\Entity\\Ingredient::UNIT_UNITARY') %}
                                        {{ 'global.currency'|trans }}/Pce
                                    {% elseif recipeIngredient.ingredient.unit == constant('RocketChef\\DataBundle\\Entity\\Ingredient::UNIT_KG') %}
                                        {{ 'global.currency'|trans }}/Kg
                                    {% elseif recipeIngredient.ingredient.unit == constant('RocketChef\\DataBundle\\Entity\\Ingredient::UNIT_LITER') %}
                                        {{ 'global.currency'|trans }}/L
                                    {% endif %}</td>
                                <td class="hidden-xs">{{ recipeIngredient.cost }}{{ 'global.currency'|trans }} </td>
                                <td class="hidden-xs">{{ (recipeIngredient.cost/recipe.portions)|round(2, 'common') }}{{ 'global.currency'|trans }} </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {#<div class="col-lg-4">#}
    {#<div class="tile dark-blue">#}
    {#<h4>Dark Blue/Default Tile</h4>#}
    {#<br>#}

    {#<p>Tile Classes:#}
    {#<code>.tile</code>#}
    {#<code>.dark-blue</code>#}
    {#Alternate:#}
    {#<code>.tile</code>#}
    {#<code>.default</code>#}
    {#</p>#}

    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue#}
    {#aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent#}
    {#eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non#}
    {#nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
