<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}{{ 'global.appname'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/pace.min.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic"
          rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel="stylesheet" type="text/css">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% stylesheets
    'css/bootstrap.css'
    'css/font-awesome.css'
    '%kernel.root_dir%/Resources/css/pace-flash.css'
    '%kernel.root_dir%/Resources/css/color-helper.css'
    '%kernel.root_dir%/Resources/css/LandingPage/*'
    filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
</head>
<body data-spy="scroll" data-offset="0" data-target=".navbar">

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-rocket"></i> <b>ROCKETCHEF</b></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav cl-effect-13">
                <li class="active"><a href="#home">Accueil</a></li>
                <li><a href="#features">Fonctionnalités</a></li>
                <li><a href="#pricing">Forfaits</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="{{ path('rocketchef_user_login') }}"><i class="fa fa-lock"></i> Connexion</a>
                </li>
                <div class="navbar-form pull-left">
                    <a href="#pricing" type="button" class="btn btn-sm btn-theme"> Version gratuite</a>
                </div>
            </ul>

        </div>
        <!--/nav-collapse -->
    </div>
    <!-- /container -->
</div>
<!-- /fixed-navbar -->

<!-- Header Wrap -->
<section id="home" name="home"></section>
<div class="headerwrap">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>Bienvenue sur <b>RocketChef</b></h1>

                <h3>La gestion de cuisine nouvelle génération.</h3>
                <br>
            </div>

            <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                <h5>Automate business processes</h5>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <img src="{{ asset('bundles/sitesite/img/arrow-left.png') }}" alt="">
            </div>
            <div class="col-lg-8">
                <img class="img-responsive" src="{{ asset('bundles/sitesite/img/app-bg.png') }}" alt="">
                <!--<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                <a href="#features" type="submit" class="btn btn-lg btn-theme smoothScroll">LEARN MORE</a>-->
            </div>
            <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                <br>
                <img class="pad-top" src="{{ asset('bundles/sitesite/img/arrow-right.png') }}" alt="">
                <h5>Collaborate in the cloud</h5>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /headerwrap -->


<!-- Intro Wrap -->
<div class="intro">
    <div class="container">
        <div class="row text-center">
            <h2>L'essentiel</h2>
            <hr>
            <br>
            <br>

            <div class="col-lg-3">
                <img src="{{ asset('bundles/sitesite/img/fa-users.png') }}">

                <h3>Professionnel</h3>

                <p>Conçut et réalisé en collaboration avec des profesionnels de la restauration.</p>
            </div>
            <div class="col-lg-3">
                <img src="{{ asset('bundles/sitesite/img/fa-gift.png') }}">

                <h3>Version gratuite</h3>

                <p>Essayez le logiciel autant que bon vous semble et ce, gratuitement !</p>
            </div>
            <div class="col-lg-3">
                <img src="{{ asset('bundles/sitesite/img/fa-cloud.png') }}">

                <h3>Scalable and Adaptable</h3>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-lg-3">
                <img src="{{ asset('bundles/sitesite/img/fa-like.png') }}">

                <h3>Facile d'utilisation</h3>

                <p>Parce qu'un logiciel ne s'utilise pas comme un avion, nous avons pensé l'interface simplement...</p>
            </div>
        </div>
        <br>
    </div>
    <!-- /container -->
</div>
<!-- /introwrap -->


<!-- Features Wrap -->
<section id="features" name="features"></section>
<div class="featureswrap">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Fonctionnalités</h2>
            <hr>
            <br>
            <br>

            <div class="col-lg-6">
                <img class="img-responsive left" src="{{ asset('bundles/sitesite/img/app-bg.png') }}" alt="">
            </div>

            <div class="col-lg-6">
                <br>
                <!-- Accordion -->
                <div class="accordion ac" id="accordion2">

                    <div class="accordion-group active">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseOne">
                                <i class="fa fa-money"></i> Calcul du coût de revient
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>Ajouter vos recettes et vos ingrédients, RocketChef calcule pour vous le coût de revient et vous propose les prix minimum à appliquer HT et TTC.
                                    <br>
                                    Entrez votre prix de ventre, vous avez maintenant votre ratio et un indicateur clair sur votre taux de marge.</p>
                            </div>
                            <!-- /accordion-inner -->
                        </div>
                        <!-- /collapse -->
                    </div>
                    <!-- /accordion-group -->
                    <br>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseTwo">
                                <i class="fa fa-book"></i> Livre de recette
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>Permettre à sa brigade d’accéder aux recettes via une tablette ou des fiches imprimable, c'est l'assurance d'un maintient des repères et de l'autonomie.</p>
                            </div>
                            <!-- /accordion-inner -->
                        </div>
                        <!-- /collapse -->
                    </div>
                    <!-- /accordion-group -->
                    <br>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseThree">
                                <i class="fa fa-cloud"></i> Travaillez dans le cloud
                            </a>
                        </div>
                        <!-- /accordion-heading -->
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>Nous pensons qu'un logiciel en ligne est plus performant, plus accessible et plus souple pour l'utilisateur,
                                    il se trouve que c'est aussi ce qu'on fait de mieux..</p>
                            </div>
                            <!-- /accordion-inner -->
                        </div>
                        <!-- /collapse -->
                    </div>
                    <!-- /accordion-group -->
                    <br>

                    {#<div class="accordion-group">#}
                        {#<div class="accordion-heading">#}
                            {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"#}
                               {#href="#collapseFour">#}
                                {#<i class="fa fa-dashboard"></i> Automate business processes#}
                            {#</a>#}
                        {#</div>#}
                        {#<div id="collapseFour" class="accordion-body collapse">#}
                            {#<div class="accordion-inner">#}
                                {#<p>It has survived not only five centuries, but also the leap into electronic#}
                                    {#typesetting, remaining essentially unchanged. It was popularised in the 1960s with#}
                                    {#the release of Letraset sheets containing Lorem Ipsum passages, and more recently#}
                                    {#with desktop publishing software like Aldus PageMaker including versions of Lorem#}
                                    {#Ipsum.</p>#}
                            {#</div>#}
                            {#<!-- /accordion-inner -->#}
                        {#</div>#}
                        {#<!-- /collapse -->#}
                    {#</div>#}
                    <!-- /accordion-group -->
                    <br>
                </div>
                <!-- /accordion -->
            </div>
        </div>
        <!-- /row -->
        <br><br><br>

        <div class="row">
            <h2 class="text-center">Compatible Tablette et Smarphone</h2>
            <hr>
            <br><br>

            {#<div class="col-lg-6">#}
                {#<br><br>#}
                {#<h4><i class="fa fa-tablet"></i> Create customized business apps</h4>#}

                {#<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining#}
                    {#essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets#}
                    {#containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus#}
                    {#PageMaker including versions of Lorem Ipsum.</p>#}
                {#<br><br>#}
            {#</div>#}

            <div class="col-lg-6">
                <img class="img-responsive right" src="{{ asset('bundles/sitesite/img/tablet.png') }}" alt="">
            </div>

            <div class="col-lg-6">
                <img class="img-responsive left" src="{{ asset('bundles/sitesite/img/mobile.png') }}" alt="">
            </div>

            {#<div class="col-lg-6">#}
                {#<br><br>#}
                {#<h4><i class="fa fa-mobile"></i> Create customized business apps</h4>#}

                {#<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining#}
                    {#essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets#}
                    {#containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus#}
                    {#PageMaker including versions of Lorem Ipsum.</p>#}
                {#<br><br>#}
            {#</div>#}


        </div>
        <br>
        <br>
        <br>
    </div>
    <!-- /container -->
</div>
<!-- /featureswrap -->


{#<!-- Divider 1 Section -->#}
{#<div class="divider01">#}
    {#<div class="container">#}
        {#<div class="row text-center">#}

        {#</div>#}
        {#<!-- /row -->#}
    {#</div>#}
    {#<!-- /container -->#}
{#</div>#}
{#<!-- /divider01 -->#}


<!-- Pricing Section -->
<section id="pricing" name="pricing"></section>
<div class="pricingwrap">
    <div class="container text-center">
        <br>

        <h2>Nos forfaits</h2>
        <hr>
        <br><br>

        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title">Apprenti</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h2>Gratuit</h2>
                        </div>
                        <table class="table">
                            <tr>
                                <td>1 Utilisateur</td>
                            </tr>
                            <tr>
                                <td>8 Recettes</td>
                            </tr>
                            <tr>
                                <td>Livre de recette</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('rocketchef_user_register') }}" class="btn btn-theme" role="button">Souscrire</a>
                    </div>
                </div>
            </div>

            {#<div class="col-xs-12 col-md-3">#}
                {#<div class="panel panel-custom">#}
                    {#<div class="panel-heading">#}
                        {#<h3 class="panel-title">Commis</h3>#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#<div class="the-price">#}
                            {#&#123;&#35;<h2>$19<span class="subscript">/mo</span></h2>&#35;&#125;#}
                            {#<small>A venir</small>#}
                        {#</div>#}
                        {#<table class="table">#}
                            {#<tr>#}
                                {#<td>2 Accounts</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>5 Projects</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="panel-footer">#}
                        {#&#123;&#35;<a href="#" class="btn btn-theme" role="button">Sign Up</a>&#35;&#125;#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-xs-12 col-md-3">#}
                {#<div class="panel panel-custom">#}
                    {#<div class="panel-heading">#}
                        {#<h3 class="panel-title">Sous-chef</h3>#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#<div class="the-price">#}
                            {#&#123;&#35;<h2>$39<span class="subscript">/mo</span></h2>&#35;&#125;#}
                            {#<small>A venir</small>#}
                        {#</div>#}
                        {#<table class="table">#}
                            {#<tr>#}
                                {#<td>5 Accounts</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>20 Projects</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="panel-footer">#}
                        {#&#123;&#35;<a href="#" class="btn btn-theme" role="button">Sign Up</a>&#35;&#125;#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-xs-12 col-md-3">#}
                {#<div class="panel panel-custom">#}
                    {#<div class="panel-heading">#}
                        {#<h3 class="panel-title">Chef</h3>#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#<div class="the-price">#}
                            {#&#123;&#35;<h2>60$<span class="subscript">/mois</span></h2>&#35;&#125;#}
                            {#<small>A venir</small>#}
                        {#</div>#}
                        {#<table class="table">#}
                            {#<tr>#}
                                {#<td>15 Utilisateurs</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>Recettes ilimités</td>#}
                            {#</tr>#}
                        {#</table>#}
                    {#</div>#}
                    {#<div class="panel-footer">#}
                        {#&#123;&#35;<a href="#" class="btn btn-theme" role="button">Sign Up</a>&#35;&#125;#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /pricingwrap -->


<!-- Divider 2 Section -->
<div class="divider02">
    <div class="container text-center">
        <h4 class="text-white">RocketChef est encore en développement, bientôt plus de fonctionalités et d'offres !</h4>
        {#<a href="#" type="button" class="btn btn-lg btn-theme2">Get Started</a>#}
    </div>
</div>
<!-- /divider02 -->


<!-- Footer Wrap -->
<section id="contact" name="contact"></section>
<div class="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Contact</h3>
                <br>

                <p>
                    <i class="fa fa-phone"></i> +33 6 24 41 18 26 <br/>
                    <i class="fa fa-envelope-o"></i> <a class="text-faded" href="mailto:floran.pagliai@gmail.com.com">Envoyer un Email</a>
                </p>
            </div>

            <div class="col-lg-4">
                {#<h3>We Are Social</h3>#}
                {#<br>#}

                {#<div id="social">#}
                    {#<a href="#" rel="tooltip" title="Facebook" class="facebook">Facebook</a>#}
                    {#<a href="#" rel="tooltip" title="Twitter" class="twitter">Twitter</a>#}
                    {#<a href="#" rel="tooltip" title="RSS" class="rss">RSS</a>#}
                    {#<a href="#" rel="tooltip" title="Github" class="github">Github</a>#}
                    {#<a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>#}
                    {#<a href="#" rel="tooltip" title="Pintrest" class="pintrest">Pintrest</a>#}
                    {#<a href="#" rel="tooltip" title="Vimeo" class="vimeo">Vimeo</a>#}
                    {#<a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>#}
                {#</div>#}
            </div>

            <div class="col-lg-4">
                <h3>Newsletter</h3>
                <br>

                <p>Inscrivez vous pour recevoir les mises à jour de RocketChef.</p>

                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-theme" type="button">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /footerwrap -->


<!-- Copyright Wrap -->
<div class="copywrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <p>Copyright &copy; 2014 Floran Pagliai. All Rights Reserved.</p>
            </div>
            {#<div class="col-lg-2">#}
                {#<p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Legal</a></p>#}
            {#</div>#}
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /copywrap (copyright) -->

{% javascripts
'js/bootstrap.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
