{% include ':WebApp:header.html.twig' %}
<body>

{% block body %}
    <div id="wrapper"><!-- Wrapper -->


        <div id="sidebar-wrapper"><!-- Sidebar -->
            <ul class="sidebar-nav">
                {% block sidebar %}
                    <li class="sidebar-brand">
                        <a href="#">{{ 'global.appname'|trans }}</a>
                    </li>
                    <li class="side-user hidden-xs">
                        <p class="welcome">
                            <i class="fa fa-key"></i> {{ 'security.logged_in_as'|trans }}
                        </p>

                        <p class="name tooltip-sidebar-logout">
                            Floran <span class="last-name">Pagliai</span>
                            <a style="color: inherit" class="logout_open" href="{{ path('gastro_user_logout') }}"
                               data-toggle="tooltip" data-placement="top" title="{{ 'security.logout'|trans }}"><i
                                        class="fa fa-sign-out"></i></a>
                        </p>

                        <div class="clearfix"></div>
                    </li>
                    <li class="sidebar-btn">
                        <a class="active" href="{{ path('gastro_dashboard') }}"><i
                                    class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a>
                    </li>
                    <li class="sidebar-btn">
                        <a href="{{ path('gastro_recipe_book') }}"><i
                                    class="fa fa-book "></i> {{ 'recipebook.title'|trans }}</a>
                    </li>
                {% endblock %}
            </ul>
        </div>
        <!-- End Sidebar -->


        <div id="page-content-wrapper"><!-- Page-content_wrapper -->
            <div class="content-header"><!-- Page content header -->
                <h1>
                    <button id="menu-toggle" href="#" class="btn"><i class="fa fa-bars"></i></button>
                    {% block page_content_header %}
                        Simple Sidebar
                    {% endblock %}
                </h1>
            </div>

            <div class="row-fluid">
                <ol class="breadcrumb">
                    {% block page_content_breadcrumb %}
                        <li class="active"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</li>
                    {% endblock %}
                </ol>
            </div>


            <div class="page-content"><!-- Page content -->
                {% block page_widgets %}
                    {% if widgets is defined %}
                        <div class="row-fluid">
                            {% for widget in widgets %}
                                {{ render(controller("WidgetBundle:Widget:generate",
                                {'link': widget.link,
                                'name' : widget.name,
                                'value' : widget.value,
                                'color' : widget.color,
                                'textcolor' : widget.textcolor,
                                'icon' : widget.icon,
                                'footerText' : widget.footerText} )) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="container-fluid">
                    <div class="col-lg-12">
                        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                    </div>
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>

        </div>
        <!-- End Page-content_wrapper -->

    </div><!-- End Wrapper -->
{% endblock %}
</body>
{% include ':WebApp:footer.html.twig' %}