    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{% block title %}{{ 'global.appname'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/pace.min.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% stylesheets
    'css/bootstrap.css'
    'css/font-awesome.css'
    '%kernel.root_dir%/Resources/css/*'
    '%kernel.root_dir%/Resources/css/messenger/*'
    filter='cssrewrite'%}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
