<li class="sidebar-brand">
    <a href="#"><i class="fa fa-rocket"></i> {{ 'global.appname'|trans }}</a>
</li>
<li class="side-user hidden-xs">
    <h3 style="color: #f5f5f5">{{ app.user.restaurant.name }}</h3>
    <p class="name tooltips">
        {{ app.user.username }} <span class="last-name">{{ app.user.lastname }} </span>
        <a style="color: inherit" href="{{ path('rocketchef_user_logout') }}"
           data-toggle="tooltip" data-placement="top" title="{{ 'security.logout'|trans }}">
            <i class="fa fa-power-off"></i></a>
    </p>
    <div class="clearfix"></div>
</li>
<li class="sidebar-btn visible-xs">
    <a href="{{ path('rocketchef_user_logout') }}">
        <i class="fa fa-power-off"></i> {{ 'security.logout'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected== 'dashboard' %}active{% endif %}" href="{{ path('rocketchef_dashboard') }}"><i
                class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected == 'ingredient' %}active{% endif %}" href="{{ path('rocketchef_ingredient') }}"><i
                class="fa fa-tags "></i> {{ 'ingredient.title.ingredients'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected == 'recipe_book' %}active{% endif %}" href="{{ path('rocketchef_recipe_book') }}"><i
                class="fa fa-book "></i> {{ 'recipebook.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected == 'menu' %}active{% endif %}" href="{{ path('rocketchef_menu') }}"><i
                class="fa fa-columns "></i> {{ 'menu.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected == 'selling' %}active{% endif %}" href="{{ path('rocketchef_selling') }}"><i
                class="{{ 'selling.icon'|trans }}"></i> {{ 'selling.title.selling'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="{% if menu_selected == 'setting' %}active{% endif %}" href="{{ path('rocketchef_setting') }}"><i
                class="fa fa-cog "></i> {{ 'settings.title.settings'|trans }}</a>
</li>