<li class="sidebar-brand">
    <a href="#"><i class="fa fa-rocket"></i> {{ 'global.appname'|trans }}</a>
</li>
<li class="side-user hidden-xs">
    <h3 style="color: #f5f5f5">{{ app.user.restaurant.name }}</h3>
    <p class="welcome">
        <i class="fa fa-key"></i> {{ 'security.logged_in_as'|trans }}
    </p>

    <p class="name tooltip-sidebar-logout">
        {{ app.user.username }} <span class="last-name">{{ app.user.lastname }}</span>
        <a style="color: inherit" class="logout_open" href="{{ path('gastro_user_logout') }}"
           data-toggle="tooltip" data-placement="top" title="{{ 'security.logout'|trans }}"><i
                    class="fa fa-sign-out"></i></a>
    </p>

    <div class="clearfix"></div>
</li>
<li class="sidebar-btn visible-xs">
    <a class="logout_open" href="{{ path('gastro_user_logout') }}"
       data-toggle="tooltip" data-placement="top" title="{{ 'security.logout'|trans }}"><i
                class="fa fa-sign-out"></i> {{ 'security.logout'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a class="active" href="{{ path('gastro_dashboard') }}"><i
                class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a href="{{ path('gastro_recipe_book') }}"><i
                class="fa fa-book "></i> {{ 'recipebook.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a href="{{ path('gastro_menu') }}"><i
                class="fa fa-columns "></i> {{ 'menu.title'|trans }}</a>
</li>
<li class="sidebar-btn">
    <a href="{{ path('gastro_parameter') }}"><i
                class="fa fa-cog "></i> {{ 'security.parameters'|trans }}</a>
</li>