<div class="col-lg-12">
    {% form_theme form _self %}
    <form method="POST" {{ form_enctype(form) }} class="form-horizontal">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    {% block recipe_form_comment %}
                        <h4>{{ 'recipebook.add.comment'|trans }}</h4>
                    {% endblock %}
                </div>
                <div class="portlet-widgets">
                    <input class="btn btn-xs btn-blue" type="submit" id="_submit" name="_submit"
                           value="{{ 'recipebook.add.submit'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-collapse in" style="height: auto;">
                <div class="portlet-body">

                    {#<h3>Recipe</h3>#}
                    <div class="row">
                        <div class="col-lg-12">
                        {{ form_widget(form.date) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            {% include '@RocketChefSelling/Recipe/form.html.twig' %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="portlet-footer">
                <div class="portlet-widgets">
                    <input class="btn btn-xs btn-blue" type="submit" id="_submit" name="_submit"
                           value="{{ 'recipebook.add.submit'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>

</div>
