{% extends 'RocketChefIngredientBundle::layout.html.twig' %}
    {% block page_content %}
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4></h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="{{ path('rocketchef_ingredient_add') }}" class="btn btn-xs btn-primary">
                            <i class="fa fa-plus"></i> {{ 'ingredient.action.add'|trans }}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-collapse in" style="height: auto;">
                    <div class="portlet-body">
                        {% if ingredients %}
                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th width="25%">{{ 'ingredient.form.name'|trans }}</th>
                                    <th width="9%">{{ 'ingredient.form.price'|trans }}</th>
                                    <th width="9%" class="hidden-xs">{{ 'ingredient.form.use_in'|trans }}</th>
                                    <th width="9%" class="no_sort btn-table"></th>
                                    <th width="9%" class="no_sort btn-table"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ingredient in ingredients %}
                                    <tr>
                                        <td>
                                            {#<a href="{{ path('rocketchef_ingredient_show', {'ingredientId' : ingredient.id, 'ingredientName' : ingredient.name}) }}">{{ ingredient.name|capitalize }}</a>#}
                                            {{ ingredient.name|capitalize }}
                                        </td>
                                        <td>{{ ingredient.priceForUnit }}
                                        {% if ingredient.unit == constant('RocketChef\\DataBundle\\Entity\\Ingredient::UNIT_KG') %}
                                            {{ 'global.currency'|trans }}/Kg
                                        {% elseif ingredient.unit == constant('RocketChef\\DataBundle\\Entity\\Ingredient::UNIT_LITER') %}
                                            {{ 'global.currency'|trans }}/L
                                        {% else %}
                                            {{ 'global.currency'|trans }}/Pce
                                        {% endif %}</td>
                                        <td class="hidden-xs">{{ 'recipebook.word.count_recipe'|transchoice(ingredient.recipes.count) }}</td>
                                        <td class="tooltips">
                                            <a href="{{ path('rocketchef_ingredient_edit', {'ingredientId': ingredient.id, 'ingredientName': ingredient.name}) }}"
                                               class="btn btn-sm btn-primary btn-block" data-toggle="tooltip"
                                               data-placement="top" data-original-title="{{ 'ingredient.action.edit'|trans }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td class="tooltips">
                                            <a href="{{ path('rocketchef_ingredient_delete', {'ingredientId': ingredient.id}) }}"
                                               class="btn btn-sm btn-red btn-block" data-toggle="tooltip"
                                               data-placement="top" data-original-title="{{ 'ingredient.action.delete'|trans }}" onclick="return confirm('Supprimer l\'ingredient ? Il sera aussi supprimé des recettes.')">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="well text-center">
                                <p>{{ 'ingredient.title.empty'|trans }}</p>
                                <a href="{{ path('rocketchef_ingredient_add') }}" class="btn btn-lg btn-primary">
                                    <i class="fa fa-plus"></i> {{ 'ingredient.action.add'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
