{% extends 'GastroRecipeBookBundle::layout.html.twig' %}

{% block page_content_header %}
    {{ 'recipebook.title'|trans }}
    <small>{{ 'recipebook.edit.comment'|trans }}</small>
{% endblock %}

{% block page_content_breadcrumb %}
    <li><a href="{{ path('gastro_dashboard') }}"><i class="fa fa-tachometer "></i> {{ 'dashboard.title'|trans }}</a>
    </li>
    <li><a href="{{ path('gastro_recipe_book') }}"><i class="fa fa-book"></i> {{ 'recipebook.title'|trans }}</a>
    </li>
    <li><a href="{{ path('gastro_recipe_book_show', {'recipeId': recipe.id, 'recipeName': recipe.name}) }}"><i class="fa fa-cutlery"></i> {{ recipe.name|capitalize }}</a>
    </li>
    <li class="active">{{ 'recipebook.edit.edit'|trans }}</li>
{% endblock %}

{% block page_content %}
    {% include 'GastroRecipeBookBundle:Recipe:form.html.twig' %}
{% endblock %}