{% extends 'GastroRecipeBookBundle::layout.html.twig' %}
    {% block page_content %}
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4></h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="{{ path('gastro_recipe_book_add') }}" class="btn btn-xs btn-primary">
                            <i class="fa fa-plus"></i> {{ 'recipebook.add.recipe'|trans }}</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="defaultPortlet" class="panel-collapse in" style="height: auto;">
                    <div class="portlet-body">
                        {% if recipes is defined  %}
                        <table id="dataTable" class="table table-hover">
                            <thead>
                            <tr>
                                <th width="25%">{{ 'recipebook.recipe.name'|trans }}</th>
                                <th width="9%" class="hidden-xs">{{ 'recipebook.recipe.cost'|trans }}</th>
                                <th width="9%" class="hidden-xs">{{ 'recipebook.recipe.portioncost'|trans }}</th>
                                <th width="9%" class="hidden-xs">{{  'recipebook.recipe.sellingprice'|trans }}</th>
                                <th class="no_sort btn-table"></th>
                                <th class="no_sort btn-table"></th>
                                <th class="no_sort btn-table"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for recipe in recipes %}
                                <tr>
                                    <td>
                                        <a href="{{ path('gastro_recipe_book_show', {'recipeId' : recipe.id, 'recipeName' : recipe.name}) }}">{{ recipe.name|capitalize }}</a>
                                    </td>
                                    <td class="hidden-xs">
                                        {{ recipe.cost|round(2, 'common') }}{{ 'global.currency'|trans }}
                                    </td>
                                    <td class="hidden-xs">
                                        {{ (recipe.cost/recipe.portions)|round(2, 'common') }}{{ 'global.currency'|trans }}
                                    </td>
                                    <td class="hidden-xs">
                                        {{ recipe.price }}{{ 'global.currency'|trans }}
                                    </td>
                                    <td class="tooltip-content">
                                    {% if recipe.inMenu %}
                                            <a href="{{ path('gastro_menu_remove_recipe', {'recipeId': recipe.id}) }}" class="btn btn-sm btn-green btn-hover-red btn-block" data-toggle="tooltip"
                                               data-placement="top" data-original-title="{{ 'menu.remove'|trans }}">
                                                <i class="fa fa-check"></i>
                                            </a>
                                    {% else %}
                                            <a href="{{ path('gastro_menu_add_recipe', {'recipeId': recipe.id}) }}" class="btn btn-sm btn-primary btn-block" data-toggle="tooltip"
                                               data-placement="top" data-original-title="{{ 'menu.add'|trans }}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                    {% endif %}
                                    </td>
                                    <td class="tooltip-content">
                                        <a href="{{ path('gastro_recipe_book_edit', {'recipeId': recipe.id, 'recipeName': recipe.name}) }}"
                                           class="btn btn-sm btn-primary btn-block" data-toggle="tooltip"
                                           data-placement="top" data-original-title="Edit recipe">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="tooltip-content">
                                        <a href="{{ path('gastro_recipe_book_delete', {'recipeId': recipe.id}) }}"
                                           class="btn btn-sm btn-red btn-block" data-toggle="tooltip"
                                           data-placement="top" data-original-title="Delete recipe" onclick="return confirm('Delete recipe ?')">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <div class="well text-center">
                                <p>Aucune recette.</p>
                            <a href="{{ path('gastro_recipe_book_add') }}" class="btn btn-lg btn-primary">
                                <i class="fa fa-plus"></i> {{ 'recipebook.add.recipe'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
